<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>KTH Biblioteket</title>
<link rel="shortcut icon" href="/smartsigntools/favicon.ico">
<link rel="stylesheet" href="/smartsigntools/css/smartsign.css">
<link rel="stylesheet" href="/smartsigntools/css/imas_style.css?ver=3.5">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
<link rel="stylesheet" href="/smartsigntools/css/cmGauge.css">


<% if (smartsignconfig.kiosk) { %>
    <%- include('kioskstyle'); %>
<% } %>
