<html>

<head>
    <%- include('partials/grbhead'); %>
</head>

<body>
  <div class="App">
    <% if (!smartsignconfig.kiosk) { %>
    <div class="App-title App-padding">
      <div class="titleimage">
        <img src="/smartsigntools/images/grupprum_high_1000_900.jpg" alt="logo"/>
      </div>
      <div class="kthlogo">
        <img src="/smartsigntools/images/kthlogo_vit.svg">
      </div>
      <div class="kthname">KTH Library</div>
      <div class="rubrikibild">Group study rooms</div>
    </div>
    <% } %>
    <div id="App-content" class="App-content content-padding">
    </div>
    <div id="grouproomentries">
      <div id="grouprooms" class="grouprooms">
      </div>
    </div>
    <div class="App-footer content-padding">
      <div class="whitesquare" style="float: left"></div>
      <div style="float: left;padding: 5px 5px;">Free</div>
      <div style="float: left;width: 30px;height: 30px;background-color: #dfa539;"></div>
      <div style="float: left;padding: 5px 5px;">Not confirmed</div>
      <div style="float: left;width: 30px;height: 30px;background-color: #e24646;"></div>
      <div style="float: left;padding: 5px 5px;">Busy</div>
      <div style="float: left;width: 30px;height: 30px;background-color: grey;"></div>
      <div style="float: left;padding: 5px 5px;">Unavailable</div>
    </div>
    <div class="App-footer">

    </div>
  </div>
  <%- include('partials/grbscript'); %>
</body>

</html>