<html>

<head>
    <%- include('partials/timeedithead'); %>
</head>

<body>
  <div class="App">
    <% if (!smartsignconfig.kiosk) { %>
    <div class="App-title App-padding content-top">
      <div class="titleimage">
        <img src="/smartsigntools/images/biblioteket_idag_1000_900.jpg" alt="logo"/>
      </div>
      <div class="kthlogo">
        <img src="/smartsigntools/images/kthlogo_vit.svg">
      </div>
      <div class="kthname">KTH Library</div>
      <div class="rubrik">The library today</div>
    </div>
    <% } %>
    <div id="App-content" class="App-content content-padding">
      <div id="lokalbokningar" class="lokalbokningar">
      </div>
    </div>
    <div class="App-footer content-padding">
    </div>
  </div>
  <%- include('partials/timeeditscript'); %>
</body>

</html>