<html>

<head>
    <%- include('partials/timeedithead'); %>
</head>

<body>
  <div class="App">
    <% if (!config.kiosk) { %>      
    <header class="App-header App-padding">
      <div style="overflow:hidden">
        <div class="kthlogo">
          <img src="/smartsigntools/images/kthlogo.jpg">
        </div>
        <div class="headertext">
          <div class="">
            <h4>KTH LIBRARY</h4>
          </div>
        </div>
      </div>
    </header>
    <div class="App-title App-padding">
      <div class="titleimage">
        <img src="/smartsigntools/images/biblioteket_idag_1000_900.jpg" alt="logo"/>
      </div>
      <div id="rubrikplatta" class="rubrikplatta">
        <div>
          The Library today
        </div>
      </div>
    </div>
    <% } %>
    <div id="App-content" class="App-content content-padding">
      <div id="lokalbokningar" class="lokalbokningar">
      </div>
    </div>
    <div class="App-footer content-padding">
        
    </div>
  </div>
  <%- include('partials/timeeditscript'); %>
</body>

</html>