body {
    overflow: hidden;
}

.grouprooms {
    padding:0px 135px 20px 135px;
    font-size: 28px;
    color: #fff;
    float:left;
}
  
.Smartsign-item {
    width: 260px;
    margin: 5px 5px;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
}

.grey {
    background-color: grey
}

.red {
    background-color: rgb(226, 70, 70);
}

.orange {
    background-color: rgb(223, 165, 57);
}

.yellow {
    background-color: rgb(236, 236, 56);
}
  
.green {
    background-color: rgb(54, 165, 54);
}

.white {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(148, 148, 148);
}

.redsquare {
	width: 30px;
	height: 30px;
	background: rgb(226, 70, 70);
}

.greensquare {
	width: 30px;
	height: 30px;
	background: rgb(54, 165, 54);
}

.whitesquare {
	width: 30px;
	height: 30px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(148, 148, 148);
}

.chartcontainer {
    width: 380px;
    height: 380px;
    margin-bottom: 30px;
}