/* Chromium färger PDF */
html {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}
  
h1 {
    font-size: 88px;
}
  
h2 {
    font-size: 60px;
}

h3 {
    font-size: 48px;
    font-weight: bold;
}

h4 {
    font-size: 32px;
    font-weight: bold;
}
  
h6 {
   font-size: 32px; 
}

.bottom-padding {
    padding-bottom: 40px;
}

.top-padding {
    padding-top: 40px;
}

.App {
    text-align: left;
    color: #000;
    /* smartsignskärmarnas upplösning */
    height: 1920px;
    width: 1080px;
    font-family: "Figtree",Arial,"Helvetica Neue",helvetica,sans-serif;
    overflow: hidden;
    position: relative;
}

/*
.App-padding {
    padding: 60px 54px 0px 54px;
}
*/

.App-padding-top {
    padding-top:60px;
}
  
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.kthlogo {
    position: absolute;
    top: 50px;
    z-index: 1000;
    text-align: center;
    width: 100%;  
}

.kthlogo img {
    width: 180px;
    padding: 10px;
}

.kthname {
    position: absolute;
    top: 0px;
    z-index: 1000;
    text-align: right;
    width: 100%;
    color: #fff;
    padding: 20px 40px 0px 0px;
    font-size: 30px;
    font-weight: 700;
}

.App-header {
    overflow: hidden;
}

.App-header .kthlogo {
    float: left
}

.App-header .kthlogo img{
    width:150px
}

.headertext {
    float:right;
    padding-top:0px;
}
  
.App-title {
    font-size: 1.5em;
    position: relative;
}

.App-title .titleimage {
    max-height: 900px;
    overflow: hidden;
}

.App-title .titleimage img {
    width: 100%;
    /*margin: 0px 0 0 0px;*/
}

.App-title .rubrik {
    position: absolute;
    bottom: 20px;
    font-size: 80px;
    color: #fff;
    padding: 0px 40px 0px 40px;
    font-weight: 700;
    line-height: 105%;
}

.rubrikplatta {
    /*position: absolute;*/
    width: 100%;
    top: 240px;
    left: 0px;
    /*background: #fff;*/
    padding: 40px 40px 0px 40px;
    font-weight: 700;
    line-height: 105%;
    font-size: 80px;
    font-family: "Figtree",Arial,"Helvetica Neue",helvetica,sans-serif;
    /*color: #ffffff*/
}
  
.App-intro {
    font-size: large;
}
  
.App-content {
    font-weight:500;
    font-size: 40px;
    font-family: "Figtree",Arial,"Helvetica Neue",helvetica,sans-serif;
}

.App-content>div:first-child { 
    padding-top: 40px;
}

.content-padding {
    padding-left: 40px;
    padding-right: 40px;
}

.content-header {
    font-size: 40px;
}

#ingress {
    /*padding-top:10px;*/
    font-size: 40px;
    /*width: 680px;*/
}

.smartsign-node #ingress {
    /*padding-top: 30px;*/
    /*padding-left: 40px;*/
    font-size: 40px;
    /*width: 680px;*/
}

#time, #location, #language, #lecturer, #typeofevent {
    font-weight: 700;
}

.linepattern {
    display: none;
}

.linepattern-top-left {
    display: block;
    width: 300px;
    height: 450px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(180deg);
}

.linepattern-bottom-right {
    display: block;
    width: 300px;
    height: 450px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: rotate(0deg);
}

.linepattern-one {
    width: 800px;
    height: 800px;
    transform-origin: center center;
    transform: rotate(0deg) scale(1.0) translate(-500px, -350px);
}

.linepattern-two {
    width: 800px;
    height: 800px;
    transform-origin: center center;
    transform: rotate(90deg) scale(1.0) translate(-350px, 500px);
}

.linepattern-three {
    width: 800px;
    height: 800px;
    transform-origin: center center;
    transform: rotate(180deg) scale(1.0) translate(500px, 350px);
}

.linepattern-four {
    width: 800px;
    height: 800px;
    transform-origin: center center;
    transform: rotate(270deg) scale(1.0) translate(350px, -500px);
}

strong {
    font-weight: 700;
}

.gauge-header-small {
    font-size: 30px;
}

.gauge-header-medium {
    font-size: 40px;
    font-weight: bold;
}

.gauge-header-large {
    font-size: 46px;
    font-weight: bold;
}

.App-footer {
    margin:5px 5px;
    font-size: 20px;
}

.smartsign-node .App-footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    /*margin: 0px 110px 10px 0px;*/
    font-size: 14px;
    /*text-align: center;*/
    width: 100%;
    display: flex;
}

.App-footer>span {
    position: relative;
    bottom: 6px;
    font-size: 40px;
}

.footerleft {
    position: relative;
    vertical-align: bottom;
    bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    width: 43%;
    /* text-align: right; */
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    line-height: 1;
}

.footerright {
    position: relative;
    vertical-align: bottom;
    bottom: 10px;
    font-size: 40px;
    font-weight: 700;
    width: 43%;
    /* text-align: right; */
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    line-height: 1;
}

.qrcode {
    position: relative;
    vertical-align: bottom;
    bottom: 0px;
    margin: 10px 10px 14px 10px;
    width: 14%;
}

.float {
    overflow: hidden;
}