/* Chromium färger PDF */
html {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}
  
h1 {
    font-size: 88px;
}
  
h2 {
    font-size: 60px;
}

h3 {
    font-size: 48px;
    font-weight: bold;
}

h4 {
    font-size: 25px;
    font-weight: bold;
}
  
h6 {
   font-size: 32px; 
}

.bottom-padding {
    padding-bottom: 20px;
}

.top-padding {
    padding-top: 20px;
}

.App {
    text-align: left;
    color: #000;
    /* a4 */
    height: 297mm;
    width: 210mm;
    font-family: "Figtree",Arial,"Helvetica Neue",helvetica,sans-serif;
    overflow: hidden;
    position: relative;
}

.App-padding-top {
    padding-top:60px;
}
  
.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.kthlogo {
    position: absolute;
    top: 55px;
    z-index: 1000;
    text-align: center;
    width: 100%;  
}

.kthlogo img {
    width: 140px;
    padding: 10px;
}

.kthlogo svg {
    width: 120px;
}

.kthlogo .cls-1 {
    fill: #fff;
}

.kthname {
    position: absolute;
    top: 0px;
    z-index: 1000;
    text-align: right;
    width: 100%;
    color: #fff;
    padding: 20px 40px 0px 0px;
    font-size: 24px;
    font-weight: 700;
}

.App-header {
    overflow: hidden;
}

.App-header .kthlogo {
    float: left
}

.App-header .kthlogo img{
    width:100px
}

.headertext {
    float:right;
    padding-top:0px;
}
  
.App-title {
    font-size: 1.5em;
    position: relative;
}

.App-title .titleimage {
    max-height: 160mm;
    overflow: hidden;
    position: relative;
}

.App-title .titleimage img {
    width: 100%;
}

.App-title .titleimage.frompolopoly img {
    /*height: 160mm;*/
    position: relative;
    left: -120px;
    width:125%
}
 
.App-title .titleimage.fromimagebank img {
    width: 100%;
}

.content-top .rubrik {
    position: absolute;
    bottom: 20px;
    font-size: 40px;
    color: #fff;
    padding: 0px 30px 0px 30px;
    font-weight: 700;
    line-height: 105%;
    z-index: 1000;
}

.content-top {
    height: 160mm;
    position: relative;
}

.content-bottom {
    height: 137mm;
}
  

.content-bottom .rubrik {
    width: 100%;
    top: 150px;
    left: 0px;
    padding: 30px 30px 0px 30px;
    font-weight: 700;
    line-height: 105%;
    font-size: 40px;
    font-family: "Figtree",Arial,"Helvetica Neue",helvetica,sans-serif;
}
  
.App-intro {
    font-size: large;
}

.App-text {
    height: 110mm;
}
  
.App-content {
    font-weight:500;
    font-size: 24px;
    font-family: "Figtree",Arial,"Helvetica Neue",helvetica,sans-serif;
}

.App-content div:first-child { 
    padding-top: 20px;
}

.content-padding {
    padding-left: 30px;
    padding-right: 30px;
}

.content-header {
    font-size: 40px;
}

#ingress {
    font-size: 24px;
}

.smartsign-node #ingress {
    font-size: 24px;
}

#time, #location, #language, #lecturer, #typeofevent {
    font-weight: 700;
}

.linepattern {
    display: none;
}

.linepattern-top-left {
    display: block;
    width: 200px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(180deg);
}

.linepattern-bottom-right {
    display: block;
    width: 130px;
    height: 170px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: rotate(0deg);
}

.linepattern-one {
    width: 500px;
    height: 500px;
    transform-origin: center center;
    transform: rotate(0deg) scale(1.0) translate(-300px, -200px);
}

.linepattern-two {
    width: 500px;
    height: 500px;
    transform-origin: center center;
    transform: rotate(90deg) scale(1.0) translate(-200px, 300px);
}

.linepattern-three {
    width: 500px;
    height: 500px;
    transform-origin: center center;
    transform: rotate(180deg) scale(1.0) translate(300px, 200px);
}

.linepattern-four {
    width: 500px;
    height: 500px;
    transform-origin: center center;
    transform: rotate(270deg) scale(1.0) translate(200px, -300px);
}

.linepattern-bottom-right .linepattern-one {
    width: 300px;
    height: 300px;
    transform-origin: center center;
    transform: rotate(0deg) scale(1.0) translate(-170px, -130px);
}

.linepattern-bottom-right .linepattern-two {
    width: 300px;
    height: 300px;
    transform-origin: center center;
    transform: rotate(90deg) scale(1.0) translate(-130px, 170px);

}

.linepattern-bottom-right .linepattern-three {
    width: 300px;
    height: 300px;
    transform-origin: center center;
    transform: rotate(180deg) scale(1.0) translate(170px, 130px);
}

.linepattern-bottom-right .linepattern-four {
    width: 300px;
    height: 300px;
    transform-origin: center center;
    transform: rotate(270deg) scale(1.0) translate(130px, -170px);
}

strong {
    font-weight: 700;
}

.gauge-header-small {
    font-size: 30px;
}

.gauge-header-medium {
    font-size: 40px;
    font-weight: bold;
}

.gauge-header-large {
    font-size: 46px;
    font-weight: bold;
}

.App-footer {
    margin:5px 5px;
    font-size: 20px;
}

.smartsign-node .App-footer {
    position: relative;
    margin: 0;
    display: flex;
    height: 26mm;
}

.App-footer>span {
    position: relative;
    bottom: 6px;
    font-size: 14px;
}

.footerleft {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    line-height: 1;
    flex: 2;
    top: -2mm;
}

.footercenter {
    text-align: center;
    flex: 1;
    max-width: 26mm
}

.footerright {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    line-height: 1;
    flex: 2;
}

.qrcode {
    display:block;
    position: relative;
    margin: 2mm;
    width: 22mm;
}

.float {
    overflow: hidden;
}