/* Chromium färger PDF */
html {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}
  
h1 {
    font-size: 88px;
}
  
h2 {
    font-size: 60px;
}

h3 {
    font-size: 48px;
    font-weight: bold;
}

h4 {
    font-size: 32px;
    font-weight: bold;
}
  
h6 {
   font-size: 32px; 
}

.bottom-padding {
    padding-bottom: 40px;
}

.top-padding {
    padding-top: 40px;
}

.App {
    text-align: left;
    color: #000;
    /* a4 */
    width: 297mm;
    height: 210mm;
    font-family: "Figtree",Arial,"Helvetica Neue",helvetica,sans-serif;
    overflow: hidden;
    position: relative;
}

.App-padding-top {
    padding-top:60px;
}

.texttop {
    position: relative;
    top: 0px;
    z-index: 1000;
    text-align: center;
    width: 100%;
    display: flex;
    /* kronbredd = 34px för 75px logo */
    padding: 34px 34px 0px 34px;
    height: 32mm;
}

.texttop .kthlogo {
    z-index: 1000;
}

.texttop svg {
    width: 75px;
}

.texttop .cls-1 {
    fill: #004791;
}

.imagetop {
    position: absolute;
    top: 0px;
    z-index: 1000;
    text-align: center;
    width: 50%;
    height: 56mm;
}

.imagetop svg {
    width: 120px;
}

.imagetop .cls-1 {
    fill: #fff;
}

.kthname {
    position: relative;
    top: 0px;
    z-index: 1000;
    text-align: right;
    width: 100%;
    color: #fff;
    padding: 20px 20px 0px 0px;
    font-size: 30px;
    font-weight: 700;
}

.App-header {
    overflow: hidden;
}

.App-header .kthlogo {
    float: left
}

.App-header .kthlogo img{
    width:150px
}

.headertext {
    float:right;
    padding-top:0px;
}
  
.App-title {
    font-size: 1.5em;
    position: relative;
    display: flex;
    flex-direction: row;
}

.App-title .titleimage {
    position: relative;
    max-height: 210mm;
    overflow: hidden;
}

.App-title .titleimage.frompolopoly img {
    position: relative;
    width: 1200px;
    left: -320px;
}

.App-title .titleimage.fromimagebank img {
    position: relative;
    width: 890px;
    left: -160px;
}

.content-right .rubrik {
    position: absolute;
    top: 57mm;
    width: 50%;
    font-size: 40px;
    color: #fff;
    padding: 30px;
    font-weight: 700;
    line-height: 105%;
    height: 124mm;
    z-index: 1000;
}

.content-left {
    flex:1;
}

.content-right {
    flex:1;
    overflow: hidden;
    height: 210mm;
    background-size: 890px;
    background-position: -160px 0px
}
  
.App-intro {
    font-size: large;
}

.App-text {
    padding: 0px 34px 0px 34px;
    height: 150mm;
    overflow: hidden;
}

.content-left .rubrik {
    width: 100%;
    top: 240px;
    left: 0px;
    font-weight: 700;
    line-height: 105%;
    font-size: 40px;
    font-family: "Figtree",Arial,"Helvetica Neue",helvetica,sans-serif;
}

.App-content {
    font-weight:500;
    font-size: 24px;
    font-family: "Figtree",Arial,"Helvetica Neue",helvetica,sans-serif;
}

.App-text>div:first-child { 
    padding-top: 34px;
}

.App-content>div:first-child { 
    padding-top: 34px;
}

.content-padding {
    padding-left: 40px;
    padding-right: 40px;
}

.content-header {
    font-size: 40px;
}

#ingress {
    font-size: 40px;
}

.smartsign-node #ingress {
    font-size: 24px;
}

#time, #location, #language, #lecturer, #typeofevent {
    font-weight: 700;
}

.App-footer {
    margin:5px 5px;
    font-size: 20px;
}

.smartsign-node .App-footer {
    position: relative;
    margin: 0;
    display: flex;
    height: 26mm;
}

.App-footer>span {
    position: relative;
    bottom: 6px;
    font-size: 40px;
}

.footerleft {
    position: relative;
    font-size: 26px;
    font-weight: 700;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    line-height: 1;
    flex: 2;
    top: -2mm;
}

.footercenter {
    text-align: center;
    flex: 1;
    max-width: 26mm
}

.footerright {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    line-height: 1;
    flex: 2;
}

.qrcode {
    display:block;
    position: relative;
    margin: 2mm;
    width: 22mm;
}

.linepattern {
    display: none;
}

.linepattern-top-left {
    display: block;
    width: 180px;
    height: 270px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: rotate(180deg);
}

.linepattern-bottom-right {
    display: block;
    width: 200px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    right: 0px;
    transform: rotate(0deg);
}

.linepattern-left-bottom-right {
    display: block;
    width: 150px;
    height: 200px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    right: 561.5px;
    transform: rotate(0deg);
}

.linepattern-one {
    width: 500px;
    height: 500px;
    transform-origin: center center;
    transform: rotate(0deg) scale(1.0) translate(-300px, -200px);
}

.linepattern-two {
    width: 500px;
    height: 500px;
    transform-origin: center center;
    transform: rotate(90deg) scale(1.0) translate(-200px, 300px);
}

.linepattern-three {
    width: 500px;
    height: 500px;
    transform-origin: center center;
    transform: rotate(180deg) scale(1.0) translate(300px, 200px);
}

.linepattern-four {
    width: 500px;
    height: 500px;
    transform-origin: center center;
    transform: rotate(270deg) scale(1.0) translate(200px, -300px);
}

.linepattern-left-bottom-right .linepattern-one {
    width: 340px;
    height: 340px;
    transform-origin: center center;
    transform: rotate(0deg) scale(1.0) translate(-190px, -140px);
}

.linepattern-left-bottom-right .linepattern-two {
    width: 340px;
    height: 340px;
    transform-origin: center center;
    transform: rotate(90deg) scale(1.0) translate(-140px, 190px);
}

.linepattern-left-bottom-right .linepattern-three {
    width: 340px;
    height: 340px;
    transform-origin: center center;
    transform: rotate(180deg) scale(1.0) translate(190px, 140px);
}

.linepattern-left-bottom-right .linepattern-four {
    width: 340px;
    height: 340px;
    transform-origin: center center;
    transform: rotate(270deg) scale(1.0) translate(140px, -190px);
}

strong {
    font-weight: 700;
}

.gauge-header-small {
    font-size: 30px;
}

.gauge-header-medium {
    font-size: 40px;
    font-weight: bold;
}

.gauge-header-large {
    font-size: 46px;
    font-weight: bold;
}

.float {
    overflow: hidden;
}