<div class="mySlides fadeinKTHB" style="display: block;">
    <div class="App">
        <header class="App-header App-padding">
            <div class="kthlogo">
                <img src="https://apps.lib.kth.se/images/kthlogo.jpg">
            </div>
            <div class="headertext">
                <div class="">
                    <h4></h4>
                </div>
            </div>
        </header>
        <div class="App-title App-padding">
            <div class="titleimage">
                <img src="https://apps.lib.kth.se/smartsign/timeeditjq/img/biblioteket_idag_1000_900.jpg">
            </div>
            <div id="rubrikplatta" class="rubrikplatta">
            </div>
        </div>
        <div id="App-content" class="App-content content-padding">
        </div>
        <div class="App-footer content-padding">
        </div>
    </div>
</div>