<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>KTH Biblioteket Calendar</title>
        <link rel="shortcut icon" href="favicon.ico">
        <link rel="stylesheet" href="https://apps.lib.kth.se/smartsign/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://apps.lib.kth.se/smartsign/css/smartsign.css?ver=1.20">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans">
    </head>
    <style>
        body {
            height: 1900px;
            width: 1080px;
        }
        .mySlides {display:none;}
        .fadeinKTHB
        {
            animation: fadeInAnimation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
    </style>
    <body>
        <div id="slides">
            
        </div>

        <script>
        var slideIndex = 0;
        carousel();

        function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none"; 
        }
        slideIndex++;
        if (slideIndex > x.length) {slideIndex = 1} 
        x[slideIndex-1].style.display = "block"; 
        setTimeout(carousel, 10000); 
        }
        </script>

    </body>
</html>

